body {
   background-color: rgb(0, 0, 0);
   
 } 

 #zoom {
   padding: 50px;
   background-color: rgb(20, 18, 18);
   transition: transform .2s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-left: 0%;
   background-image: url(./assets/graphic-designer.png);
   border: solid whitesmoke;
 }

 #zoom:hover {
   transform: scale(1.5);
 }

 #zoom1 {
   padding: 50px;
   background-color:  rgb(20, 18, 18);
   transition: transform .2s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-right: 0%;
   margin-top: 0%;
   background-image: url(./assets/matrix.png);
   border: solid whitesmoke;
   color: aliceblue;
 }

 #zoom1:hover {
   transform: scale(1.5);
 }

 #zoom2 {
   padding: 50px;
   background-color:  rgb(15, 13, 13);
   transition: transform .5s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-left: 0%;
   margin-top: 0.5%;
   background-image: url(./assets/colored-pencils-2553343_1280.png);
   
 }

 #zoom2:hover {
   transform: scale(1.5);
 }

 #zoom3 {
   padding: 50px;
   background-color:  rgb(15, 13, 13);
   transition: transform .5s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-right: 0%;
   margin-top: 0.5%;
   background-image: url(./assets/bibel-2615221_640.png);
   
 }

 #zoom3:hover {
   transform: scale(1.5);
 }

 #mid1 {
   padding: 50px;
   background-color:  rgb(20, 18, 18);
   transition: transform .5s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   background-image: url("./assets/cvimageblur.JPG");
   border: solid whitesmoke;
 }

 #mid1:hover {
   transform: scale(1.5);
 }

 #zoom4 {
   padding: 50px;
   background-color: rgb(20, 18, 18);
   transition: transform .5s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-left: 0%;
   margin-top: 0.5%;
   background-image: url(./assets/heart.png);
   border: solid whitesmoke;

 }

 #zoom4:hover {
   transform: scale(1.5);
 }

 #zoom5 {
   padding: 50px;
   background-color:  rgb(20, 18, 18);
   transition: transform .5s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-right: 0%;
   margin-top: 0.5%;
   background-image: url(./assets/autumn-1008520_640.png);
   border: solid whitesmoke;

 }

 #zoom5:hover {
   transform: scale(1.5);
 }

 #mid2 {
   padding: 50px;
   background-color: rgb(15, 13, 13);
   transition: transform .5s;
   width: 300px;
   height: 200px;
   margin: 0 auto;
   margin-top: 0.5%;
  

 }

 #mid2:hover {
   transform: scale(1.5);
 }



 #first {
   display: flex;
 }

 #secound {
   display: flex;

 }

 #third {
   display: flex;
 }

 #name {
   color: azure;
   font-size: 50px;
   margin-top: 110px;
 }

 #bgImg {
   height: 200px;
   width: 200px;
   border: solid whitesmoke;

 }

 li {
   list-style-type: none;
   color: rgb(255, 255, 255);
 }

@media(max-width:700px) {
#zoom{
 display: none;;
}
#zoom2{
 display: none;
}
#zoom4{
 display: none;
}
#name{
 text-align: center;
}


}

 @media screen and (max-width: 900px) {
   #zoom1{
     display: none;
   }
 }
 @media screen and (max-width: 900px) {
   #zoom3{
     display: none;
   }
 }
 @media screen and (max-width: 900px) {
   #zoom5{
     display: none;
   }
 } 

 a{
   text-decoration: none;
   font-size: 2rem;
   color: rgb(233, 239, 178);
 }